/*
  SPA stylesheet manifest.
  Keep this file as a compatibility entrypoint while migrating routes to dynamic CSS loading.
*/
@import url("./spa/base.css");
@import url("./spa/layout/navigation.css");
@import url("./spa/shared.css");
@import url("./spa/responsive.css");
@import url("./spa/pages/home.css");
@import url("./spa/pages/auth.css");
@import url("./spa/pages/admin.css");
